*{
    margin: 0;
    padding: 0;
}

header{
    border-bottom: 1px solid black;
    display: block;
    text-align: center;

}

header h1, p{
    margin: 20px;
}

main{
    display: block;
    text-align: center;
}

main section *{
    margin: 20px;
}

img{
    width: 700px;
}

button{
    background-color: hsl(205, 91%, 60%);
    color: #fff;
    padding: 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.registro{
    background-color: hsl(240, 45%, 2%);
}

footer{
    background-color: hsl(240, 45%, 2%);
    color: #fff;
    padding: 5px;
    text-align: center;
    margin-top: 50px;
}
   