* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: hsl(0, 0%, 15%);
    text-align: center;
    padding: 1rem;

}

header a {
    color: #fff;
    text-decoration: none;
    margin: 1rem;
    font-weight: 500;
}


.hero {
    height: 50vh;
    background-image: url(img/pexels-narda-yescas-1566837.jpg);
    background-size: cover;
    background-position: center 10%;


    display: flex;
    justify-content: center;
    text-align: center;
}

.hero-content {
    color: #fff;
}

.hero-content h1 {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.0rem;
    margin-bottom: 1.5rem;
}

.hero-content input{
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    background-color: #f39c12;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

h2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
}

#cardapio {
    margin: 1rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#cardapio div {
    border-radius: 5px;
    background-color: #eaeaea;
    width: 15rem;
    min-height: 22rem;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
}

#cardapio div:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#cardapio img {
    width: 15rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

#cardapio h3,
#cardapio p {
    margin: 0.5rem 1rem;
}

#cardapio h3 {
    font-size: 1.2rem;
    min-height: 3rem;
}

#cardapio p {
    font-size: 0.9rem;
    line-height: 1.4;
    flex-grow: 1;
    margin-bottom: 1rem;
}

#sobre {
    margin-top: 3rem;
    height: 15vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(img/pexels-eneida-nieves-905847.jpg);
    background-size: cover;
    background-position: center;
}

#sobre h2,
#sobre p {
    color: #fff;
    text-align: center;
}

#contato{
    margin: 0;
    padding: 3rem 2rem;    
}

#contato > p{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#contato address{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    font-style: normal;
    margin-bottom: 2rem;
}

#contato address > div{
    flex: 1;
    min-width: 250px;
    padding: 1.5rem;

}

#contato address span{
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    color: #e74c3c;    
}
#contato address a{
    color: #3498db;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0.5rem;
}

#contato input {
    display: block;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    background-color: #f39c12;
    color: black;
    font-weight: bold;
    margin: 0 auto;
}

footer{
    background-color: hsl(0, 0%, 15%);
    text-align: center;
    padding: 1rem;
    color: #f39c12;
}
